@model BuscadorComic
<form method="post" class="mb-3">
    <select name="idComic" class="form-select mb-3">
        @foreach (Comic com in Model.Comics)
        {
            <option value="@com.IdComic">@com.Nombre</option>
        }
    </select>
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>

@if (Model.Comic != null)
{
    <div class="card col-md-4" style="width:18em;">
        <img src="@Model.Comic.Imagen" class="img-top" />
        <div class="card-body">
            <p>@Model.Comic.Nombre</p>
            <p>@Model.Comic.Descripcion</p>
        </div>
    </div>
}